<li class="media">
    <img class="d-flex mr-3 avatar-xs" src="<%= comment.user.avatar.thumb.url %>">
    <div class="media-body">
      <%= comment.content %><br>
      <small class="text-muted">
         <%= link_to comment.user.name, user_path(comment.user) %>
          - <%= time_ago_in_words(comment.created_at) %> ago
         <%= delete_comment_link(comment) %>
      </small>
      <br><br>      
    </div>
</li>