<div class="box"> 
    <%= image_tag(@user.avatar.normal.url, :class => "avatar-profile") %>
    <h1><%= @user.name %>  <%= edit_profile_link(@user) %></h1>  
    <small class="text-muted">Joined <%= time_ago_in_words(@user.created_at) %> ago</small>
    <%= about_user(@user)%>
    <%= genres_h3(@user) %>
    <%= render @user.genres %>    

    <div class="stats-box">
        <hr>            
        <div class="container stats">
            <div class="row">
                <%= show_stat(@user.hours_spent, "hours recorded") %>
                <%= show_stat(@user.words_written, "total words written") %>
            </div>
        </div>
        <hr>
    </div>

    <h3><%= @user.name %>'s Projects   <%= add_project_link(@user) %></h3>
    <div class="row">
       <%= render partial: "projects/project", collection: @user.projects, locals: {user_page: true} %>
    </div>
    <a href="/users/<%=@user.id%>/updates" class="btn btn-primary">View all updates from this user</a>
</div>