<h1><%= @user.name %></h1>

<% if @user.avatar.url.present? %>  
<%= image_tag(@user.avatar.normal.url, :class => "avatar-normal") %>
<% end %>

<% if @user.about %>
  <p>About This User: <%= @user.about%></p>
<% end %>

<p>Total hours spent: <%= @user.hours_spent %></p>
<p>Total words written: <%= @user.words_written %></p>

<%= link_to "Edit Proflie", "/users/edit", class: "btn btn-primary" if user_signed_in? && current_user == @user %>
<%= link_to "Add New Project", "/projects/new", class: "btn btn-primary" if user_signed_in? && current_user == @user %>


<h2>Projects</h2>

<div class="row">
    <%= render partial: "projects/project", collection: @user.projects, locals: {show_user: false} %>
</div>
<p> <a href="/users/<%=@user.id%>/updates">View all updates from this user</a></p>
