<div class="box"> 
      <%= image_tag(@user.avatar.normal.url, :class => "avatar-profile") %>

  <h1><%= @user.name %>  <%= link_to "Edit Proflie", "/users/edit", class: "btn btn-sm btn-primary" if user_signed_in? && current_user == @user %>
  </h1>  
    <small class="text-muted">Joined <%= time_ago_in_words(@user.created_at) %> ago</small>
    <% if @user.about %>
      <p><%= @user.about%></p>
    <% end %>

    <h3><%= @user.name %>'s genres</h3>
    <% @user.genres.each do |g| %>
       <span class="badge badge-info"><%= g.name %></span>
    <% end %>

    <div class="stats-box">
        <hr>            
        <div class="container stats">
            <div class="row">
                <% if @user.hours_spent != nil %>
                    <div class="col">
                        <span><%= @user.hours_spent %></span>               
                        hours recorded
                    </div>
                <% end %>
                <% if @user.words_written != nil %>
                <div class="col">
                   <span><%= @user.words_written %></span>
                   total words written
                </div>
                <% end %>
            </div>
        </div>
        <hr>
    </div>
    <h3><%= @user.name %>'s Projects     <%= link_to "Add New Project", "/projects/new", class: "btn btn-sm btn-primary" if user_signed_in? && current_user == @user %></h3>
    <div class="row">
       <%= render partial: "projects/project_user_page", collection: @user.projects, as: :project %>
    </div>
    <a href="/users/<%=@user.id%>/updates" class="btn btn-primary">View all updates from this user</a>

</div>
