
<% if progress_update.user.avatar.url.present? %>  
    <%= image_tag(progress_update.user.avatar.thumb.url, :class => "avatar-small") %>
<% end %>

<div class="update-info">
    <span class="update-info-text">
        <strong><%= link_to progress_update.user.username, user_path(progress_update.user) %></strong>
        posted an update for their project <%= link_to progress_update.project.title, project_path(progress_update.project) %>
    </span>        
</div>





<div class="box">
    <%= progress_update.content %>
    <br><br>

<%= link_to "Show page", project_progress_update_path(progress_update.project, progress_update) %>
    

- <%= progress_update.date %>

</div>