<div class="box">
    <%= render partial: "progress_updates/progress_update_content", locals: {progress_update: @update} %>
    <hr><br>
    <ul class="list-unstyled"><%= render @update.comments %></ul>
    
    <% if can? :create, Comment %>
        <h3>Add New Comment</h3>
        <%= form_for [@update.project, @update, @comment] do |f| %>
            <%= f.text_area :content, class: "form-control" %><br>
            <button class="btn btn-primary">Add Comment</button>
        <% end %>
        <br><br>  
    <% end %>
    
    <%= link_to 'next', project_progress_update_path(@update.project, @update.next) if @update.next %>
    <%= link_to 'prev', project_progress_update_path(@update.project, @update.prev) if @update.prev %>
    <br>
    
    <%= edit_update_link(@update) %>
    <%= delete_update_link(@update) %>
</div>