<div class="box">
    <%= render partial: "progress_updates/progress_update_content", locals: {progress_update: @update} %>
    <hr><br>
    <ul class="list-unstyled"><%= render @update.comments %></ul>
    
    <% if can? :create, Comment %>
        <h3>Add New Comment</h3>
        <%= form_for [@update.project, @update, @comment] do |f| %>
            <%= f.text_area :content, class: "form-control" %><br>
            <button class="btn btn-primary">Add Comment</button>
        <% end %>
        <br><br>  
    <% end %>

    <%= edit_update_link(@update) %>
    <%= delete_update_link(@update) %>
</div>

<div class="text-muted"><em>Browse updates for this project:</em></div>
<div class="row">
    <div class="col prev">
        <% if @update.prev %>
            <%= link_to 'Previous', project_progress_update_path(@update.project, @update.prev), class: "next-prev-link" %>        
        <% end %>
    </div>
    <div class="col next text-right">
        <% if @update.next %>
            <%= link_to 'Next', project_progress_update_path(@update.project, @update.next), class: "next-prev-link" %>    
        <% end %>
    </div>
</div>