<div class="box">
    <div class="media">
        <%= image_tag(@update.user.avatar.thumb.url, :class => "d-flex mr-3 avatar-small") %>
        <div class="media-body">
            <strong><%= link_to @update.user.name, user_path(@update.user) %></strong>
            posted an update for their project <%= link_to @update.project.title, project_path(@update.project) %>
            <br>
            <span class="text-muted"><%= time_ago_in_words(@update.created_at) %> ago</span>
             <br>
            <br>
            <%= @update.content %>
        </div>
    </div>

    <div class="container stats">
        <div class="row">
            <% if @update.words != nil %>
                <div class="col">
                    <span><%= @update.words %></span>               
                    words added
                </div>
            <% end %>
            <% if @update.hours != nil %>
            <div class="col">
               <span><%= @update.hours %></span>
               hours worked
            </div>
            <% end %>
        </div>
    </div>
<br>
    <div class="footer">
        <br>
        <ul class="list-unstyled"><%= render @update.comments.all %></ul>
        
        <% if can? :create, Comment %>
          <h3>Add New Comment</h3>
            <%= form_for [@update.project, @update, @comment] do |f| %>
              <%= f.text_area :content, class: "form-control" %><br>
              <%= f.submit "Add Comment", class: "btn btn-primary" %>
            <% end %>
            <br><br>  
        <% end %>
        
        <%= link_to "Edit Update", [:edit, @update.project, @update], class: "btn btn-sm btn-primary"  if can? :update, @update %>
        <%= link_to 'Delete Update', [@update.project, @update], method: :delete, class: "btn btn-sm btn-danger" if can? :destroy, @update %>
    </div>
</div>