<%= link_to @update.user.name, user_path(@update.user) %> says:<br><br>

<%= @update.content %><br><br>

<%= @update.created_at %><br><br>

<%= @update.words %> new words<br>

<%= @update.hours %> hours worked<br><br>

For project: <%= link_to @update.project.title, project_path(@update.project) %> <br><br>

<h2>Comments</h2>

<ul class="list-unstyled"><%= render @update.comments.all %></ul>

<% if can? :create, Comment %>
  <h2>Add New Comment</h2>
    <%= form_for [@update.project, @update, @comment] do |f| %>
      <%= f.text_area :content, class: "form-control" %><br>
      <%= f.submit "Add Comment", class: "btn btn-primary" %>
    <% end %>
    <br><br>  
<% end %>

<%= link_to "Edit Update", [:edit, @update.project, @update], class: "btn btn-sm btn-primary"  if can? :update, @update %>
<%= link_to 'Delete Update', [@update.project, @update], method: :delete, class: "btn btn-sm btn-danger" if can? :destroy, @update %>