<%= link_to @update.user.name, user_path(@update.user) %> says:<br><br>

<%= @update.content %><br><br>

<%= @update.created_at %><br><br>

<%= @update.words %> new words<br>

<%= @update.hours %> hours worked<br><br>

For project: <%= link_to @update.project.title, project_path(@update.project) %> <br><br>

<h2>Comments</h2>

<%= render @update.comments.all %>