<div class="col-12 col-md-6"> 
  <div class="box">
      <h3><%= link_to project.title, project_path(project) %></h3>
        Time spent: <%= project.hours %> hours <br> 
        Word goal: <%= project.word_goal %><br>      
        Genres: <%= render project.genres %>
        <%= render partial: "projects/progress_bar", locals: {project: project} %>    
      </div>
</div>