<div class="col-12 col-md-6"> 
  <div class="<%= project_class(user_page) %>">
      <h3><%= link_to project.title, project_path(project) %></h3>
        <div><%= render project.genres %></div>
        <% if user_page == false %>
            <div>Created by <%= link_to project.user.name, user_path(project.user) %></div>
        <% end %>
        <div><%= text_hours(project) %></div>
        <div><%= text_word_goal(project) %></div>       
        <%= render partial: "projects/progress_bar", locals: {project: project} %>            
  </div>
</div>