<div class="col-12 col-md-6">
  <div class="box">
      <h3><%= link_to project.title, project_path(project) %></h3>
      
        <% if show_user == true %>
        <strong>Created by <%= link_to project.user.name, user_path(project.user) %></strong><br>
        <% end %>

        Time spent: <%= project.hours %> hours <br> 
        Word goal: <%= project.word_goal %><br>      
        
        Genres: <% project.genres.each do |g| %>
          <%= g.name %> 
        <% end %>

        <% if project.progress_bar? %>
        <div class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
            aria-valuenow="<%= project.percent_complete_integer %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= project.percent_complete_integer %>%">
            <%= project.percent_complete_rounded %>%
            </div>
        </div>
        <% end %>
        
  </div>
</div>