<div class="col-12 col-md-6">
    <div class="user-project">
        <h3><%= link_to project.title, project_path(project) %></h3>
        
        <% if project.progress_updates.count > 0 %>
          <a href="<%= project_progress_updates_path(project) %>"><%= pluralize(project.progress_updates.count, "update") %></a>
          <br>
        <% end %>
          
        <%= render project.genres %><br>
        <%= text_word_goal(project) %>        
        
        <%= render partial: "projects/progress_bar", locals: {project: project} %>          

    </div>
  </div>