<br>
<h1>Projects <%= link_to "Add New Project", "/projects/new", class: "btn btn-sm btn-primary" if user_signed_in? %></h1>

<div>
  <h3>Filter projects:</h3>
  <%= form_tag("/projects", method: "get") do %>
    <%= select_tag "genre", options_from_collection_for_select(@genres, "id", "name", params[:genre]), include_blank: true, class: "custom-select" %>
    <%= select_tag "sort", options_for_select([['Newest First', 'newest'], ['Most Words', 'words'], ['Highest Word Goal', 'word_goal'], ['Most Hours', 'hours']], params[:sort]), include_blank: true, class: "custom-select" %>
    <%= submit_tag "Filter", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="row">
  <%= render @projects %>
</div>