<div class="box">
    <h1><%= @project.title %></h1>
    <%= render @project.genres %>
    <br><br>
    <div class="stats-box">
        <div class="container stats">
            <div class="row">
                <%= show_stat(@project.hours, "hours") %>
                <%= show_stat(@project.words, "current words") %>                    
                <%= show_stat(@project.word_goal, "word goal") %>                    
            </div>
        </div>
        <br>
        <%= render partial: "projects/progress_bar", locals: {project: @project} %>
    </div>
    <hr>
    <%= @project.description %><br><br>  
    <%= link_to "View updates for this project", project_progress_updates_path(@project), class: "btn btn-primary" %>
    <%= link_to "Add project update", new_project_progress_update_path(@project), class: "btn btn-primary" if can? :create, @project => ProgressUpdate %>
    <br><br>

    <div class="row align-items-center">
      <div class="col">
          <div class="media">
              <img src="<%= @project.user.avatar.thumb.url %>" class="d-flex mr-3 avatar-xs">
              <div class="media-body">
                  Created by <%= link_to @project.user.name, user_path(@project.user) %><br>
                  <span class="text-muted"><%= time_ago_in_words(@project.created_at) %> ago</span>
              </div>
          </div>          
      </div>
      <div class="col text-right">
          <%= link_to "Edit Project", edit_project_path(@project), class: "btn btn-sm btn-secondary" if can? :update, @project %>
          <%= link_to 'Delete Project', @project, method: :delete, class: "btn btn-sm btn-secondary", data: { confirm: "This will also delete all of the project's updates. Are you sure?" }  if can? :destroy, @project %>
      </div>
    </div>
</div>