<h1><%= @project.title %></h1>

<%= @project.description %><br><br>
Created by <%= link_to @project.user.username, user_path(@project.user) %><br>
Word Goal: <%= @project.word_goal %><br>
Current Words: <%= @project.words %><br>
Time Spent: <%= @project.hours %> <br><br>






<div class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
    aria-valuenow="<%= @project.percent_complete_integer %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= @project.percent_complete_integer %>%">
    <%= @project.percent_complete_rounded %>%
    </div>
  </div>
  



Type: <%= @project.type.name if @project.type %> <br><br>
Genres:<br>
<% @project.genres.each do |g| %>
  <%= g.name %><br>
<% end %>

<br><br>
<%= link_to "View updates for this project", project_progress_updates_path(@project) %>
