<!DOCTYPE html>
<html>
  <head>
    <title>WritingProjectTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

  <%= render "layouts/navbar" %>

  <div class="container container-width">

          <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: "alert #{name}" %>
          <% end -%>

          

    <%= yield %>
  </div>
  </body>
</html>
